@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.inicio{
    text-align: center;
    margin-top: 50px;
} 

body {
    font-family: 'Poppins', sans-serif;
}


header {
    background: #68aacd;
}

.inicio h1{
    font-size: 35px;
    color: #1E3D5B;
    letter-spacing: 1px;
    font-weight: bold;
} 

.line {
    width: 150px;
    height: 3px;
    background: #1E3D5B;
    margin: 0px auto;
    border-radius: 50px;
    margin-top: 5px;
    margin-bottom: 20px;
}

.inicio h2{
    margin-bottom: 50px;
}


.inicio a{
    margin: 15px;
    padding: 10px 15px;
    background: #1E3D5B;
    color: white;
    cursor: pointer;
    border-radius: 8px;
    font-size: 18px;
    border: 2px solid transparent;
    transition: .4s;
}

.inicio a:hover{
    background: transparent;
    border: 2px solid #1E3D5B;
    color: black;
}

#consulta {
    height: 600px;
    max-width: 950px;
    margin: 0 auto;
    background: #68aacd;
    margin-top: 50px;
    margin-bottom: 100px;
    border-radius: 10px;
    overflow-y: scroll;
    display: grid;
    grid-template-areas: "consulta-card consulta-card";
    box-shadow: 0px 10px 10px rgba(0,0,0);
    border: 5px solid #1E3D5B;
}

.consulta2{
    text-align: center;
}

.consulta2 h2{
    margin-bottom: 20px;
}

#consultaAluno{
    border: 5px solid #1E3D5B;
    height: 700px;
    max-width: 950px;
    margin: 0 auto;
    background: #68aacd;
    margin-top: 50px;
    margin-bottom: 100px;
    border-radius: 10px;
    box-shadow: 0px 10px 10px rgba(0,0,0);
}

.consulta-card2{
    padding-top: 1px;
}

.consulta-card2 h5{
    text-align: center;
}

.consulta-card{
    gap: 30px;
    background: white;
    width: 100%;
}

.consulta-card2 h5{
    margin: 100px;
}

h5{
    font-size: 20px;
    color: white;
    margin: 30px;
    border: 3px solid white;
    padding: 20px;
    border-radius: 8px;
    background: #1E3D5B;
    letter-spacing: 1px;
    text-align: left;
    font-weight: bolder;
    box-shadow: 0px 5px 10px black;
}

h5 i{
    text-align: center;
    width: 100%;
    font-size: 120px;
    margin-bottom: 10px;
}

h3{
    margin-bottom: 10px;
    font-size: 25px;
}


.filtro {
    width: 500px;
    height: 100px;
    background-color: white;
    margin: 0 auto;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 2px solid #1E3D5B;
}

.filtro-btn {
    width: 20%;
    height: 48px;
    border-radius: 0px 5px 5px 0px;
    border: none;
    background-color: #68aacd;
    color:white;
    cursor: pointer;
    transition: .5s;
    font-weight: bold;
    border: 1px solid white;
    font-size: 15px;
}

.filtro-btn:hover {
    background: #1E3D5B;
}

.procura {
    width: 70%;
    height: 50px;
    border-radius: 10px 0px 0px 10px;
    text-indent: 10px;
    transition: .5s;
    border: 2px solid white;
    background-color: #dedede;
    font-size: 15px;
    outline: none;
}
